@model IEnumerable<KatEventPlan.Models.Event>

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New Event", "Create")
</p>

@using (Html.BeginForm("Index", "Event", FormMethod.Get))
{
    <p>
        Search by event name or description:
        <input type="text" name="searchString" value="@Request.QueryString["searchString"]" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Event_Name</td>
                <td>@item.Event_Date.ToString("yyyy-MM-dd")</td>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Event_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Event_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Event_Id })
                </td>
            </tr>
        }
    </tbody>
</table>
